<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="/javascripts/admin_login.js"></script>
    <link rel="stylesheet" href="/stylesheets/help.css" />
    <title></title>
</head>

<body>
    <div>
        <form class="" action="index.html" method="post">
            <input id="id" type="text" />
            <input id="pw" type="password" />
            <input id="btn" type="button" name="name" value="로그인">
        </form>
    </div>
</body>

</html>
