<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/admin_writeNotice.js"></script>
    <script src="/javascripts/jquery.form.js"></script>
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/community.css" />
	<title></title>
</head>

<body>
	<div class="main_container">
        <div class="commWrite">
            <input type="text" id="commWriteTitle" placeholder="제목"/>
            <input type="file" id="commWriteFile" multiple="multiple" accept="image/gif, image/jpeg, image/png, image/bmp, image/jpg"/>
            <textarea id="commWriteContent"/></textarea>
            <a href="#" id="commWriteBtn">완료</a>
        </div>
	</div>
</body>

</html>
