<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/header_nav.js"></script>
	<script src="/javascripts/commReadQnA.js"></script>
	<script src="/javascripts/tail_table.js"></script>
	<link rel="stylesheet" href="/stylesheets/header_nav.css"/>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
	<link rel="stylesheet" href="/stylesheets/readComm.css"/>
	<title></title>
</head>
<body>
	<div class="header_nav_container" id="header_nav_container"></div>
	<div class="main_container">
		<div class="readComm_container">
			<div class="readCommTitle"><p id="readCommTitle"></p><p id="readCommDate"><p id="readCommName"></p></p></div>
			<div class="readCommCont">
				<div class="readCommImg" id="readCommImg"></div>
				<p id="readCommCont"></p>
			</div>
			<div class="readCommComm">
				<div class="readCommCommWrite">
					<textarea id="readCommCommWrite" name="name" rows="8" cols="80"></textarea>
				</div>
				<div id="readCommCommRead" class="readCommCommRead">
				</div>
			</div>
		</div>
		<a class="commIndex" href="/community">목록</a>
	</div>
	<div id="tail_table_container" class="tail_table_container"></div>
</body>
</html>
