<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/header_nav.js"></script>
	<script src="/javascripts/jscommunity.js"></script>
	<script src="/javascripts/tail_table.js"></script>
	<link rel="stylesheet" href="/stylesheets/header_nav.css" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/community.css" />
	<title></title>
</head>

<body>
	<div class="header_nav_container" id="header_nav_container"></div>
	<div class="main_container">
		<div class="comm_container">
			<div class="commCat">
				<a name="notice" href="#">공지사항</a>
				<a name="event" href="#">이벤트</a>
				<a name="review" href="#">후기</a>
				<a name="QnA" href="#">Q n A</a>
			</div>
			<div class="commCont">
				<h1 id="commContTitle"></h1>
				<table class="commContTable">
					<thead id="commContThead">
					</thead>
					<tbody id="commContTbody">
					</tbody>
				</table>
				<div id="commCatIndex"></div>
				<div class="commActive" id="commActive">
				</div>
			</div>
		</div>
	</div>
	<div id="tail_table_container" class="tail_table_container"></div>
</body>

</html>
