<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/header_nav.js"></script>
	<script src="/javascripts/tail_table.js"></script>
	<script src="/javascripts/findID.js"></script>
	<link rel="stylesheet" href="/stylesheets/header_nav.css"/>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
	<link rel="stylesheet" href="/stylesheets/find.css"/>
	<title></title>
</head>
<body>
	<div class="header_nav_container" id="header_nav_container" clicked="food"></div>
	<div class="main_container">
		<div class="findID">
			<h1>아이디 찾기</h1>
			<p>고객님 계정의 이메일을 입력하거나 휴대폰번호를 '-' 없이 입력해 주세요</p>
			<input type="text" id="findID_input">
			<input type="button" id="findID_btn">
		</div>
	</div>
	<div id="tail_table_container" class="tail_table_container"></div>
</body>
</html>