<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/header_nav.js"></script>
	<script src="/javascripts/jquery.modal.js"></script>
	<script src="/javascripts/tail_table.js"></script>
	<script src="/javascripts/jsfood.js"></script>
	<link rel="stylesheet" href="/stylesheets/header_nav.css"/>
	<link rel="stylesheet" href="/stylesheets/jquery.modal.css"/>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
	<title></title>
</head>
<body>
	<div class="header_nav_container" id="header_nav_container" clicked="food"></div>
	<div class="main_container">
		<div class="food_zoomed" id="food_zoomed">
			<img id="food_zoomed_img" />
			<p id="food_zoomed_info"></p>
		</div>
		<div class="food_container">
			<div class="food_categories" id="food_categories"></div>
			<div class="food_products">
				<ul id="food_products"></ul>
			</div>
			<div id="food_tabs"></div>
			<div id="total_price" class="total_price"></div>
			<div class="next_page_btn">
				<a id="shopping_end" href="#">쇼핑 완료</a>
			</div>
		</div>
	</div>
	<div id="tail_table_container" class="tail_table_container"></div>
</body>
</html>
