<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/header_nav.js"></script>
	<script src="/javascripts/tail_table.js"></script>
	<script src="/javascripts/jsfood.js"></script>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
	<title></title>
</head>
<body>
	<div class="header_nav_container" id="header_nav_container" clicked="food"></div>
	<div class="main_container">
		<div class="food_container">
			<div class="food_categories" id="food_categories"></div>
			<div>
				<ul class="food_products" id="food_products"></ul>
			</div>
		</div>
	</div>
	<div id="tail_table_container" class="tail_table_container"></div>
</body>
</html>