<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/header_nav.js"></script>
	<script src="/javascripts/tail_table.js"></script>
	<script src="/javascripts/jsfood_selected.js"></script>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
	<title></title>
</head>
<body>
	<div class="header_nav_container" id="header_nav_container" clicked="food"></div>
	<div class="main_container">
		<div class="food_selected_title"><h1>물품 목록</h1><p>물품 목록을 확인 후 구매해 주세요</p></div>
		<div>
			<div class="food_selected_del">
				<a href="#" id="selected_table_del">선택 삭제</a>
			</div>
			<div id="food_selected_table"></div>
			<div id="food_selected_total">
			</div>
		</div>
	</div>
	<div id="tail_table_container" class="tail_table_container"></div>
</body>
</html>