<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/jshelp.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/stylesheets/help.css" />
    <link rel="stylesheet" href="/stylesheets/header_nav.css"/>
    <title></title>
</head>

<body>
    <div>
        <div class="chatTitle" id="chatTitle"><h3>상담</h3></div>
        <div class="chatContent" id="chatContent"></div>
        <div class="chatForm" id="chatForm">
            <textarea type="text" id="chatTextArea" placeholder="궁금한점을 적어주세요"></textarea>
            <input type="button" id="chatSendBtn" value="전송" />
        </div>
    </div>
</body>

</html>
