<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/header_nav.js"></script>
	<script src="/javascripts/jsmain.js"></script>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
	<title></title>
</head>
<body>
	<div class="header_nav_container" id="header_nav_container">
	</div>
	<div class="main_container">
		<div class="main_img">
			<form>
				<input type="date" placeholder="출발일"/>
				<input type="date" placeholder="도착일" disabled/>
				<input type="range" min="1" max="100" value="20" oninput="rangevalue.value=value"></input>
				<input id="rangevalue" placeholder="100명이 넘는경우 직접 입력해 주세요"></input>
			</form>
		</div>
	</div>
</body>
</html>