<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/header_nav.js"></script>
	<script src="/javascripts/jquery.modal.js"></script>
	<script src="/javascripts/jsmain.js"></script>
	<script src="/javascripts/custom_form.js"></script>
	<script src="/javascripts/CibulCalendar.js"></script>
	<script src="/javascripts/tail_table.js"></script>
	<link rel="stylesheet" href="/stylesheets/jquery.modal.css"/>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
	<link rel="stylesheet" href="/stylesheets/header_nav.css"/>
	<link rel="stylesheet" href="/stylesheets/custom_form.css"/>
	<link rel="stylesheet" href="/stylesheets/main.css"/>
	<link rel="stylesheet" href="/stylesheets/calender.css"/>
	<title></title>
</head>
<body>
	<div class="header_nav_container" id="header_nav_container"></div>
	<div class="main_container">
		<div class="main_img_container">
			<div class="main_img"></div>
		</div>
		<div id="main_custom_form"></div>
		<div class="main_sub_img_container">
			<a id="sub_img_pension" href="/pension"></a>
			<a id="sub_img_car" href="/bus" class="mid_img"></a>
			<a id="sub_img_food" href="/food"></a>
		</div>
	</div>
	<div id="tail_table_container" class="tail_table_container"></div>
</body>
</html>
