<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/header_nav.js"></script>
	<script src="/javascripts/jquery.modal.js"></script>
	<script src="/javascripts/tail_table.js"></script>
	<script src="/javascripts/jsmyCart.js"></script>
	<script src="/javascripts/custom_form.js"></script>
	<script src="/javascripts/CibulCalendar.js"></script>
	<link rel="stylesheet" href="/stylesheets/jquery.modal.css"/>
	<link rel="stylesheet" href="/stylesheets/header_nav.css"/>
	<link rel="stylesheet" href="/stylesheets/custom_form.css"/>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
	<link rel="stylesheet" href="/stylesheets/myCart.css"/>
	<link rel="stylesheet" href="/stylesheets/calender.css"/>
	<title></title>
</head>
<body>
	<div class="header_nav_container" id="header_nav_container"></div>
	<div class="main_container">
		<div class="myCart_title"><h1>장바구니</h1><p>원하는 서비스를 선택 한 후 결재가가능합니다.</p></div>
		<div class="cart_container">
			<div>
				<div>
					<h1 class="pension_background">펜션</h1>
					<input type="checkbox" id="pension_check" />
					<label for="pension_check"></label>
				</div>
				<table class="bus_cart_table skb_table">
					<thead>
						<tr>
							<th class="cart_table_checkbox"></th>
							<th><p>구매 목록</p></th>
							<th><p>가격</p></th>
						</tr>
					</thead>
					<tbody id="cart_pension"></tbody>
				</table>
			</div>
			<hr size=2 align="left" color="#f44"/>
			<div>
				<div>
					<h1 class="bus_background">버스</h1>
					<input type="checkbox" id="bus_check"/>
					<label for="bus_check"></label>
				</div>
				<table class="bus_cart_table skb_table">
					<thead>
						<tr>
							<th class="cart_table_checkbox"></th>
							<th><p>구매 목록</p></th>
							<th><p>가격</p></th>
						</tr>
					</thead>
					<tbody id="cart_bus"></tbody>
				</table>
			</div>
			<hr size=2 align="left" color="#3c3"/>
			<div>
				<div>
					<h1 class="food_background">식품</h1>
					<input type="checkbox" id="food_check"/>
					<label for="food_check"></label>
				</div>
				<table class="food_cart_table skb_table">
					<thead>
						<tr>
							<th class="cart_table_checkbox"></th>
							<th><p>구매 목록</p></th>
							<th><p>가격</p></th>
						</tr>
					</thead>
					<tbody id="cart_food">
					</tbody>
				</table>
			</div>
			<hr size=2 align="left" color="#0cf"/>
		</div>
		<div id="main_custom_form"></div>
		<div class="cart_charge">
			<a id="order_btn" href="#">결재하기</a>
			<p id="totalPrice">총 : 0000 원</p>
		</div>
	</div>
	<div id="tail_table_container" class="tail_table_container"></div>
</body>
</html>
