<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/header_nav.js"></script>
	<script src="/javascripts/jspension.js"></script>
	<script src="/javascripts/tail_table.js"></script>
	<script src="/javascripts/custom_form.js"></script>
	<script src="/javascripts/CibulCalendar.js"></script>
	<link rel="stylesheet" href="/stylesheets/header_nav.css" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/pension.css" />
	<link rel="stylesheet" href="/stylesheets/custom_form.css" />
	<link rel="stylesheet" href="/stylesheets/calender.css" />
	<title></title>
</head>

<body>
	<div class="header_nav_container" id="header_nav_container"></div>
	<div class="main_container">
		<h1>펜션</h1>
		<div id="main_custom_form"></div>
		<div class="pensionInfo">
			<div class="location">
				<p class="pension_subject">위치</p>
				<div class="pension_subsection">
					<input type="checkbox" name="location" id="location1" pension="daeseong-ri">
					<label class="label1" for="location1">대성리</label>
					<input type="checkbox" name="location" id="location2" pension="cheongpyeong">
					<label class="label1" for="location2">청평</label>
					<input type="checkbox" name="location" id="location3" pension="gapyeong">
					<label class="label1" for="location3">가평</label>
				</div>
			</div>
			<div class="facilities">
				<p class="pension_subject">시설</p>
				<div class="pension_subsection">
					<input type="checkbox" name="facilities" id="facilities1" pension="footvalley">
					<label class="label1" for="facilities1">족구장</label>
					<input type="checkbox" name="facilities" id="facilities2" pension="ground">
					<label class="label1" for="facilities2">운동장</label>
					<input type="checkbox" name="facilities" id="facilities3" pension="karaoke">
					<label class="label1" for="facilities3">노래방</label>
					<input type="checkbox" name="facilities" id="facilities4" pension="bbq">
					<label class="label1" for="facilities4">바베큐시설</label>
					<input type="checkbox" name="facilities" id="facilities5" pension="swimmingpool">
					<label class="label1" for="facilities5">수영장</label>
					<input type="checkbox" name="facilities" id="facilities6" pension="valley">
					<label class="label1" for="facilities6">계곡</label>
					<input type="checkbox" name="facilities" id="facilities7" pension="leisure">
					<label class="label1" for="facilities7">레져시설</label>
					<input type="checkbox" name="facilities" id="facilities8" pension="room1">
					<label class="label1" for="facilities8">방1개이상</label>
					<input type="checkbox" name="facilities" id="facilities9" pension="room2">
					<label class="label1" for="facilities9">방2개이상</label>
					<input type="checkbox" name="facilities" id="facilities10" pension="bathroom2">
					<label class="label2" for="facilities10">화장실2개이상</label>
				</div>
			</div>
			<div class="services">
				<p class="pension_subject">혜택</p>
				<div class="pension_subsection">
					<input class="label1" type="checkbox" name="services" id="services1" pension="pickup">
					<label class="label1" for="services1">픽업</label>
				</div>
			</div>
		</div>
		<div class="action">
			<a id="counsel_btn" href="#">상담신청하기</a>
		</div>
	</div>
	<div id="tail_table_container" class="tail_table_container"></div>
</body>

</html>
