<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="/javascripts/header_nav.js"></script>
    <script src="/javascripts/jquery.modal.js"></script>
    <script src="/javascripts/tail_table.js"></script>
    <script src="/javascripts/social_join.js"></script>
    <link rel="stylesheet" href="/stylesheets/jquery.modal.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title></title>
</head>

<body>
    <div class="header_nav_container" id="header_nav_container"></div>
    <div class="join_container">
        <h1>아래 내용만 입력하면 회원가입이 완료됩니다.</h1>
        <input type="text" id="join_name" />
        <input type="text" id="join_phone" />
        <input type="text" id="join_address" />
        <input type="button" style="cursor:pointer" id="join_btn" value="회원가입하기" />
        <input type="button" style="cursor:pointer" id="fb_logout" value="페이스북 로그아웃" />
    </div>
    <div id="tail_table_container" class="tail_table_container"></div>
</body>

</html>
