<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/admin_writeEvent.js"></script>
	<script src="/javascripts/jquery.form.js"></script>
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/community.css" />
	<title></title>
</head>

<body>
	<div class="main_container">
		<div class="commWrite">
			<input type="text" id="commWriteTitle">
			<input type="text" id="commWriteStartDate">
			<input type="text" id="commWriteEndDate">
			<input type="file" multiple id="photo_upload">
			<output id="list"></output>
			<textarea id="commWriteCont"></textarea>
			<input type="button" value="완료" id="files_send">
		</div>
	</div>
</body>

</html>
