<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/header_nav.js"></script>
	<script src="/javascripts/tail_table.js"></script>
	<script src="/javascripts/findedPW.js"></script>
	<link rel="stylesheet" href="/stylesheets/header_nav.css"/>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
	<link rel="stylesheet" href="/stylesheets/find.css"/>
	<title></title>
</head>
<body>
	<div class="header_nav_container" id="header_nav_container" clicked="food"></div>
	<div class="main_container">
		<div class="find_div">
			<h1>비밀번호 찾기</h1>
			<div class="find_container findedPW">
				<p id="findedPW_text"></p>
			</div>
			<div class="action">
				<a class="modal_a" id="localLogin_btn" href="#">로그인</a>
			</div>
		</div>
	</div>
	<div id="tail_table_container" class="tail_table_container"></div>
</body>
</html>
