div.find_div{
	max-width: 320px;
	margin:50px auto;
}
div.find_container{
	padding: 30px 40px;
	background-color: #dddddd;
}
div.findID > input[type='text'], div.findPW > input[type='text']{
	width: 80%;
}
div.findID > input, div.findPW > input{
	margin:0 auto;
	display: block;
	border-radius: 5px;
	text-align: center;
}

div.find_container > p.find_text{
    height: 10px;
    margin: 0;
    font-size: 8px;
}
div.find_container p.correct{
    color: #0b0;
}
div.find_container p.incorrect{
    color: #b00;
}
div.find_container > p{
	display: inline-block;
	margin: 13px 1%;
}
div.find_container p.findedID{
	color: #c22;
	font-size: 18;
}
div.find_div > div.action{
	text-align: center;
	margin-top: 28px;
}
div.find_div > div.action > a{
	width: 100px;
	font-size: 12px;
	display: inline-block;
	border-right: 1.5px solid #ccc;
	border-left: 1.5px solid #ccc;
}
