div.join_container{
    width: 300px;
    margin: 0px auto;
}
div.join_container > h1{
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}
div.join_container input, div.join_container select{
    box-sizing: border-box;
    border: 1.5px solid #bbb;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 34px;
}
div.join_container>input{
    width: 100%;
}
div.join_container>input[type="button"]{
    background-color: #000;
    color: #fff;
}
div.join_container>input.afterRecaptcha{
    margin-top: 20px;
}
div.join_container>div.form_phone > input{
    width: 40%;
}
div.join_container>div.form_phone{
    font-size: 0;
}
div.join_container>div.form_phone> p.devine{
    width: 4%;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: #bbb;
}
div.join_container>div.form_phone > select{
    width: 12%;
}
div.join_container>div.form_address>input{
    width: 40%;
    margin-left: 4%;
}
div.join_container>div.form_address>p.info{
    width: 12%;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #999;
}
div.join_container>div.form_address{
    margin-bottom: 20px;
    font-size: 0;
}
div.join_container input:hover, div.join_container input:focus {
    border: 1.5px solid #fda;
}
div.join_container p.join_text{
    height: 10px;
    margin: 0;
    font-size: 8px;
}
div.join_container p.correct{
    color: #0b0;
}
div.join_container p.incorrect{
    color: #b00;
}
@media(min-width: 500px){
    div.join_container{
        width: 60%;
        margin-left: 20%;
    }
}
@media(min-width: 768px){
    div.join_container{
        width: 450px;
        margin: 0px auto;
    }
    div.join_container > h1{
        font-size: 20px;
    }
}
