body {
	margin : 0px;
	font: 14px JejuGothic, "Lucida Grande", Helvetica, Arial, sans-serif;
	min-width: 320px;
}

@font-face{
	font-family:JejuGothic;
	src:url("font/JejuGothic.eot");
	src:local(""),url("font/JejuGothic.woff") format("woff");
	src:local(""),url("font/JejuGothic.ttf")format("truetype");
}

a {
	text-decoration: none;
}

input{
	border-radius: 5px;
	border-color: transparent;
	height: 25px;
}
li{
	list-style:none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance:textfield;
}

div.subPage_container{
	text-align: center;

}

div.subPage_container > a{
	display: inline-block;
	font-size: 18px;
	color: #888;
}


div.subPage_container > a.clicked{
	display: inline-block;
	color: #000;
}

div.subPage_container > p{
	margin-top: : 20px;
	width: 30px;
	display: inline-block;
}

ul.food_products{
	padding: 0;
}

ul.food_products > li{
	width: 50%;
	display: inline-block;
}

.food_products .food_products_img > a{
	display: block;
	padding-top: 100%;
	width: 100%;
	background-size: cover;
	background-position: center center;
}

.food_products div.food_products_info > div{
	display: inline-block;
}

.food_products div.food_products_res{
	width: 75%;
}

.food_products p.food_products_content{
	margin-top: 15px;
	margin-bottom: 0;
	font-size: 12px;
	color: #aaa;
}

.food_products p.food_products_totalprice{
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 12px;
	color: #aaa;
}

.food_products div.food_products_info{
	padding: 0 10px;
}

.food_products div.food_products_info > p.food_products_name{
	margin: 8px 0;
	height: 28px;
}

.food_products p.food_products_price{
	margin: 0;
	font-weight: bold;
	font-size: 16px;
	display: inline;
}

.food_products p.food_products_won{
	margin: 0;
	font-size: 11px;
	display: inline;
}

.food_products .food_products_con{
	width: 25%;
}

.food_products .food_products_con > a, .food_products .food_products_con > input{
	width: 100%;
	display: block;
	height: 15px;
	text-align: center;
	outline: none;
}

.food_products .food_products_con > a{
	padding-top: 5px;
	border-radius: 5px;
	background-color: #aaa;
	color: #fff;
	font-size: 10px
}
.food_products .food_products_con > input{
	margin: 2px 0;
	padding: 3px 0;
	box-shadow:inset 0px 0px 0px 4px #9ee;
	border-width: 0;
	font-size: 16px;
	font-weight: bold;
}

.food_categories > ul{
	display: inline;
	width: 100%;
	margin: 0;
	padding: 0;
}

.food_categories > ul > li{
	width: 25%;
	display: inline-block;
}

.food_categories > ul > li > a.clicked{
	background-color: #7d7;
}

.food_categories > ul > li > a{
	border: 1px solid #ddd;
	padding-top: 12px;
	text-align: center;
	height: 24px;
	display: block;
	width: 100%;
	color: #000;
	font-size: 12px;
}

.food_categories > ul > li > a:hover{
	background-color: #7d7;
}
.tail_table li{
	margin-left :20px;
	font-size: 12px;
}
.tail_table p{
	font-size: 14px;
}

.tail_table{
	background-color: #000;
	color: #bbb;
}

.tail_table ul{
	margin: 0 4%;
	width: 30%;
	display: inline-block;
}

.main_sub_img_container{
	width: 100%;
	height: 150px;
}
.main_sub_img_container > a{
	width: 100%;
	float: left;
	height: 100px;
	background-size: cover;
	background-position: center center;
	background-image: url("http://placehold.it/500x250");
}

.imp_custom_form .travelDate_container{
	margin : 0 5%;
}
.imp_custom_form .travelNum_container{
	margin : 0 5%;
}

.imp_custom_form .travelDate_container > p{
	margin : 0;
	color: #fff;
}
.imp_custom_form .travelNum_container > p{
	margin : 0;
	color: #fff;
}
.imp_custom_form .travelNum_col .travelNum_btn{
	padding: 0;
	text-align: center;
	font-size: 15px;
	width: 100%;
}
.imp_custom_form .travelNum_col > p{
	margin : 5px 0;
	text-align: center;
	color: #fff;
}
.imp_custom_form .travelNum_col{
	display: inline-block;
	margin: 5px 3%;
	width: 20%;
}
.imp_custom_form .travelNum_aft{
	display: inline-block;
	height: 25px;
	padding: 0;
	width: 15%;
	text-align: center;
	position: relative;
	bottom: 25px;
	font: 18px JejuGothic;
}
.imp_custom_form{
	padding: 10px 0;
	background-color: #444;
	position: relative;
	z-index: 2;
}

.imp_custom_form .travelDate{
	margin : 10px 0;
	display: block;
	width: 90%;
	font: 14px JejuGothic;
	padding-left: 20px;
}

.main_img{
	background-position: center center;
	background-size: cover;
	height: 200px;
	width: 100%;
	background-image: url("http://placehold.it/1200x300");
	position: relative;
	z-index: 1;
}
.main_img_container{
}

.header_nav_container{
	background-color: #222;
	height: 40px;
}

.main_container{
	width: 100%;
}

.header_nav a{
	color: #fff;
}

.header_nav a:hover{
	color: #bbb;
}

a.nav_foodBtn{
	background-image: url('../images/nav_foodBtn.png');
}

a.nav_foodBtn:hover{
	color: transparent;
	background-image: url('../images/nav_foodBtn_hover.png');
}

a.nav_pensionBtn{
	background-image: url('../images/nav_pensionBtn.png');
}

a.nav_pensionBtn:hover{
	color: transparent;
	background-image: url('../images/nav_pensionBtn_hover.png');
}


a.nav_busBtn{
	background-image: url('../images/nav_busBtn.png');
}

a.nav_busBtn:hover{
	color: transparent;
	background-image: url('../images/nav_busBtn_hover.png');
}

.header_nav_right > a.nav_btn{
	height: 23px;
	width: 35px;
	background-image: url('../images/nav_menuBtn.png');
	margin: 8px !important;
	background-size: cover;
	float: right;
}

.header_nav_right > a.nav_btn:active{
	background-image: url('../images/nav_menuBtn_hover.png');
}


.header_nav > .header_nav_left{
	width: 25%;
	height: 40px;
	float: left;
	overflow: hidden;
}

.header_nav > .header_nav_mid{
	width: 50%;
	height: 40px;
	float: left;
	overflow: hidden;
}

.header_nav > .header_nav_right{
	width: 25%;
	height: 40px;
	float: right;
}


.header_nav > .header_nav_left a{
	font-size: 14px;
	margin: 13px 5px;
	float: left;
}

.header_nav > .header_nav_mid a{
	float: left;
	color: transparent !important;
	background-size: cover;
	height: 30px;
	width: 25px;
	margin: 5px 10px;
}

.header_nav > .header_nav_right > lu.mobile > li > a{
	font-size: 18px;
	margin: 13px 13px;
}
.header_nav > .header_nav_right >lu.mobile > li {
	width: 300px;
	height: 18px;
	padding: 16px 0;
}

.header_nav > .header_nav_right >lu.mobile{
	z-index: 10;
	background-color: #222;
	position: relative;
	height: 150px;
	right: 300%;
	width: 400%;
	display: none;
}
@media(min-width: 500px){
	.main_container{
		min-height: 700px;
	}
	ul.food_products > li{
		width: 240px;
		display: inline-block;
		margin: 0 auto;
	}

	.main_sub_img_container{
		width: 100%;
		height: 256px;
	}
	.main_sub_img_container > a{
		margin-top: 3px;
		width: 33.13%;
		height: 250px;
	}

	.main_sub_img_container > a.mid_img{
		margin-left: 0.3%;
		margin-right: 0.3%;
	}

	.imp_custom_form .travelDate_container{
		width: 35%;
		display: inline-block;
		float: left
	}
	.imp_custom_form .travelNum_container{
		width: 35%;
		display: inline-block;
	}

	.main_img{
		height: 300px;
	}

	.header_nav > .header_nav_right >lu.mobile{
		right: 100%;
		width: 200%;
	}
}

@media(min-width: 768px){
	.header_nav_mid > a.clicked{
		background-color: #851;
	}

	.food_categories > ul > li{
		width: 12.5%;
	}

	.imp_custom_form .travelDate_container{
		width: 300px;
		margin: 0 30px;
	}

	.imp_custom_form .travelNum_container{
		width: 300px;
		display: inline-block;
		margin: 0 30px;
	}

	.imp_custom_form .travelDate{
		padding-left: 20px;
		width: 200px;
	}

	.header_nav > .header_nav_left{
		width: 20%;
	}

	.header_nav > .header_nav_mid{
		width: 40%;
	}

	.header_nav > .header_nav_right{
		width: 40%;
	}

	.header_nav > .header_nav_left a{
		font-size: 18px;
		margin: 11px;
	}

	.header_nav > .header_nav_mid a:hover{
		color: #bbb !important;
	}

	.header_nav > .header_nav_mid a{
		width: 32px;
		height: 16px;
		color: #fff !important;
		background-image: none;
		font-size: 16px;
		padding: 12px 30px;
		margin: 0;
	}

	.header_nav > .header_nav_right >lu{
		display: block !important;
	}

	.header_nav > .header_nav_right >lu a{
		font-size: 12px;
		margin: 14px 13px;
		float: right;
	}


	.header_nav_right > a.nav_btn{
		display: none;
	}

	.header_nav_right > li > a.nav_list{
		display: block;
	}
}

@media(min-width : 1200px){
	.header_nav{
		width: 1200px;
		margin: 0 auto;
	}
	.main_container{
		margin: 0 auto;
		width: 1200px;
	}

	.tail_table{
		margin: 0 auto;
		width: 1200px;
	}
}