body {
    width: 100%;
    margin: 0px;
    font: 14px JejuGothic, "Lucida Grande", Helvetica, Arial, sans-serif;
    min-width: 320px;
}

@font-face {
    font-family: JejuGothic;
    src: url("font/JejuGothic.eot");
    src: local(""), url("font/JejuGothic.woff") format("woff");
    src: local(""), url("font/JejuGothic.ttf")format("truetype");
}

a {
    background-size: cover;
    background-position: center center;
    text-decoration: none;
    color: #000;
}

input[type="checkbox"] {
    /* 실제 체크박스는 화면에서 숨김 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

input[type="checkbox"]+label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"]+label:before {
    /* 가짜 체크박스 */
    content: ' ';
    display: inline-block;
    width: 20px;
    /* 체크박스의 너비를 지정 */
    height: 20px;
    /* 체크박스의 높이를 지정 */
    line-height: 20px;
    /* 세로정렬을 위해 높이값과 일치 */
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: bottom;
    border: 1px solid #cacece;
    border-radius: 3px;
}

input[type="checkbox"]:checked+label:before {
    /* 체크박스를 체크했을때 */
    content: '\2714';
    /* 체크표시 유니코드 사용 */
    color: #99a1a7;
    text-shadow: 1px 1px #fff;
    border-color: #adb8c0;
}

input {
    border-width: 1px;
    outline: none;
    border-color: transparent;
    height: 25px;
}

li {
    list-style: none;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

table {
    border-collapse: collapse;
    border-top: 2px solid #ccf;
    border-bottom: 2px solid #ccf;
}

table td, table th {
    border: 1px solid #ddd;
}

table tr:first-child th {
    border-top: 0;
}
input:-webkit-autofill {
 -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child, table tr th:first-child {
    border-left: 0;
}

table tr td:last-child, table tr th:last-child {
    border-right: 0;
}

table>tbody>tr {/*아마 myCart쪽 코드들일것임*/
    height: 70px;
}

table>tbody>tr>td>input {
    background-color: #fff;
    margin: 0;
    width: 25px;
}

table>thead>tr>th>input {
    width: 25px;
}

.pension_background {
    background-color: #f44;
}

.bus_background {
    background-color: #3c3;
}

.food_background {
    background-color: #0cf;
}



div.header_nav_container {
    background-color: #222;
    height: 40px;
}

div.main_container {
    width: 100%;
}
div.main_container > h1{
    margin-left: 5%;
}
@media(min-width: 1200px) {
    div.main_container {
        margin: 0 auto;
        width: 1200px;
    }
}