div.comm_container{
	font-size: 0;
}
div.commCat {
	display: inline-block;
	width: 100%;
}
div.commCat a{
	font-size: 20px;
	display: block;
	width: 100%;
	text-align: center;
	margin: 5px 0;
}
div.commCont {
	display: inline-block;
	width: 100%;
}
div.commCont a{
	font-size: 10px;
}
table.commContTable{
	font-size: 14px;
}

@media(min-width: 500px){
	div.commCat{
		width: 20%;
	}
	div.commCont{
		width: 80%;
	}
}

.simple-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.simple-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.simple-nodal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.simple-nodal-close:hover,
.simple-nodal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
